* {
margin: 0%;
padding: 0%;


}
body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    padding: 10px;
    text-align: center;
    background-color: rgb(58, 124, 247);
}
.header {
    text-align: center;
    color: rgb(6, 6, 7);
}
table {
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-display:null; 
    margin: 1px;
    padding: 40 px solid;
    border: 30px solid white;
    background-color: white;
}

 form input[type="submit"]{
    height: 30px;
    width: 100%;
    color: #fff;
    border: none;
    background: #00c9A7;
    cursor: pointer;
    border-bottom: 2px solid rgba(7, 6, 6, 0.1);
    border-radius: 5px;
} 
